

div#wrap{
  padding: 20px;
}

h1{
  font-size: 28px;
}

div#wrap>p{
  font-size: 20px;
}

form{
  width: 100%;
  margin-bottom: 20px;
}

form>select{
  width: 300px;
  font-size: 18px;
  line-height: 1.5em;
}

div.dolbox{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

div.dolbox>div:nth-child(1){}
div.dolbox>div:nth-child(1)>button{
  display: block;
  padding: 10px 20px;
  margin: 20px 0;
}

div.maindol{}
div.maindol>ul{
  margin: 26px 0;
  display: flex;
  justify-self: flex-start;
  align-items: center;
}

div.maindol>ul>li{
  height: 30px;
  line-height: 30px;
  width: 30px;
  list-style-type: none;
  background: #fff;
  rotate: 45deg;
  border: 1px solid #000;
  margin: 0 20px;
  text-indent: -9999px;
}